body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: #7cd4d4;
  background-image: url(http://www.graphicartsunit.com/images/noise.png);
  margin: 5rem;
}

.containerTitle {
  margin: 2rem 1rem 1rem;
  border-style: solid;
  border-color: #FFF;
  border-width: 5px;
  border-radius: 8px;
}

.containerTitle h1 {
  margin: 0;
  padding: 0;
  background: #e2df45;
  background-image: url(http://www.graphicartsunit.com/images/noise.png);
  font-family: 'Quicksand', sans-serif;
  font-size: 50px;
  color: #03384b;
  border-radius: 8px;
  z-index: -1;
}